body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: rgb(77, 107, 117);
    background: linear-gradient(201deg, rgba(77, 107, 117, 0.4052214635854342) 0%, rgba(157, 109, 48, 0.4052214635854342) 86%);
    /* Pour assurer une hauteur minimale de la fenêtre visible */
}

img {
    border-radius: 4px;
}

.header {
    background-image: url('./images/sofrout/fond-header.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* margin-bottom: 15px;
    padding-top: 10px; */
    text-align: center;
    font-family: 'Dancing Script', cursive;
    /* position: fixed; */
    width: 100%;
    top: 0;
    z-index: 1000;
    font-size: x-large;
    height: 25vw;
    /* height: 250px; */
    /* height: 50%; */

}

h1 {
    color: white;
}

.titreHaut {
    align-items: center;
    margin: auto;
    width: 100%;
}

.titreHaut p {
    color: white;
    font-size: 270%;
    font-weight: 520;
}

#bsd {
    position: absolute;
    /* content: 'בס״ד'; */
    color: #fff;
    display: inline-block;
    right: 10px;
    top: 0;
    font-size: 23px;
}

#menu {
    position: fixed;
    top: 83%;
    width: 100%;
}

nav {
    background-color: #333;
    color: #fff;
    padding: 10px;
    margin: 5px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-size: larger;
}


main {
    flex-grow: 1;
    /* Pour que le contenu occupe l'espace restant entre le header et le footer */
    margin-top: 20px;
    padding: 20px;
    /* margin-top: 250px; */
    font-size: x-large;
}

.titleSection {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 15px;
    gap: 10px;
}

.content div {
    margin: 25px;
    padding: 10px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 5px;
    /* Réduire l'espace intérieur du footer */
    font-size: 14px;
    /* Redimensionner la taille du texte */
}

#title {
    width: 100%;
    height: 100%;
    backdrop-filter: blur(2px);
    text-align: center;
    display: flex;
    justify-content: center;
}

#title>h1 {
    padding: 10px;
}

.no-margin-bottom {
    margin-bottom: 3px !important;
}

#home {
    display: grid;
    /* width: auto; */
    grid-template-columns: 1fr 3fr;
    /* Deux colonnes, la première occupe toute la largeur disponible, la deuxième ajuste à son contenu */
}

.image-scroll-container {
    overflow: hidden;
    position: relative;
    display: flex;
    gap: 30px;
}

.image-scroll-container img {
    display: inline-block;
    vertical-align: top;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-1200px);
    }

}

.image-scroll-container img {
    animation: scroll 20s linear infinite;
}


#article {
    height: 200vh;
    width: 25vw;
}

#imgLeftSide {
    max-width: 100%;
    height: auto;
}

#text-home {
    padding: 20px;
    width: 74vw;
}

.containerChaatnez {
    margin: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
    height: 10000px;
}

.video-list-container {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}

#videoList {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
}

.video-list {
    width: 70%;
    height: 40vw;
    margin: 0 !important;
    padding: 0 !important;
}

.list-title {
    font-size: smaller;
    width: 70%;
}

.livreSection {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    height: 70% !important;
}

.livreTitre {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.livresPicture {
    display: flex;
    justify-content: space-between;
    margin: 0 !important;
    padding: 0 !important;
    grid-gap: 10px;
}

.livreContainer {
    flex-basis: 50%;
    margin: 0 !important;
    padding: 0 !important;
}

.imageLivre {
    width: 100%;
    height: auto;
}