body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* Pour assurer une hauteur minimale de la fenêtre visible */
}

header {
    background-image: url('./images/sofrout/fond-header.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* margin-bottom: 15px;
    padding-top: 10px; */
    text-align: center;
    font-family: 'Dancing Script', cursive;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    font-size: x-large;
}

h1 {
    color: white;
}

#bsd {
    position: absolute;
    /* content: 'בס״ד'; */
    color: #fff;
    display: inline-block;
    right: 10px;
    top: 0;
    font-size: 23px;
}

nav {
    background-color: #333;
    color: #fff;
    padding: 10px;
    margin: 5px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

nav a {
    text-decoration: none;
    color: #fff;
}

main {
    flex-grow: 1;
    /* Pour que le contenu occupe l'espace restant entre le header et le footer */
    padding: 20px;
    margin-top: 180px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 5px;
    /* Réduire l'espace intérieur du footer */
    font-size: 14px;
    /* Redimensionner la taille du texte */
}

#title {
    width: 100%;
    height: 100%;
    backdrop-filter: blur(2px);
    text-align: center;
}

#title>h1 {
    padding: 10px;
}

.no-margin-bottom {
    margin-bottom: 3px !important;
}

/* #article {
    background-image: url("./images/article/article1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: fixed;
    width: 20%;
    left: 0;
} */

#home {
    display: grid;
    grid-template-columns: 1fr 3fr;
    /* Deux colonnes, la première occupe toute la largeur disponible, la deuxième ajuste à son contenu */
}

#article {
    height: 200vh;
    width: 100%;
}

#imgLeftSide {
    max-width: 100%;
    height: auto;
}



#text-home {
    padding: 20px;
}

.marquee-container {
    overflow: hidden;
    /* Masque le débordement pour éviter des problèmes de mise en page */
    white-space: nowrap;
    /* Empêche le texte de passer à la ligne */
    width: 100%;
    /* Ajuste la largeur selon tes besoins */
}

/* Ajoute du style aux images à l'intérieur de la marquee */
.marquee img {
    width: 240px;
    height: 240px;
    margin-right: 20px;
    /* Espace entre les images, ajuste selon tes besoins */
}